@import 'compass/css3/images';
@import 'compass/css3/box-shadow';

body {
    margin: 0;
}

body,
input,
select,
textarea {
    font-family: 'ff-enzo-web', sans-serif;
}

svg {
    font: 10px sans-serif;
    display: inline;
}

.key path {
    display: none;
}

.key line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.key text {
    font-size: 10px;
}

#map {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

#overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 200px;
    z-index: 2;
    @include background(linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)));
    pointer-events: none;
}

#tooltip {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    fill: #000;
}

.row-fluid {
    pointer-events: none;
}

.row-fluid,
.navbar {
    position: relative;
    z-index: 3;
}

.navbar {
    margin: 20px;
}

.well,
.navbar {
    @include single-box-shadow(rgba(0, 0, 0, 0.25), 0, 0, 10px);
}

path {
    stroke: #333;
    fill: #fff;
    // shape-rendering: crispEdges;
    cursor: pointer;
    opacity: 0.75;

    &.active {
        // fill: #509e2f;
        opacity: 0.15;
    }
}

#controls {
    margin-left: 20px;
    padding: 10px 0;
    // background: #222;
    pointer-events: auto;

    select,
    .chzn-container {
        margin: 5px 0;
    }
}

#infobox {
    margin-right: 20px;
    // background: #222;
    pointer-events: auto;

    h2 {
        margin-top: 0;
        line-height: 0.9em;
    }

    h3 {
        font-weight: normal;
        line-height: 1em;
    }
}

.navbar .brand {
    float: none;
    display: inline;
}

#attribution {
    display: inline;
    font-size: 16px;
    float: right;
}

#vpr-logo {
    padding-top: 5px;
}

.navbar-inner {
    height: 40px;
}
